* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cont {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  justify-content: space-between;
}
.player {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.cont div:nth-child(1) {
  background-color: rgb(176, 255, 127);
}
.cont div:nth-child(3) {
  background-color: rgb(255, 255, 151);
}
.buttons {
  position: absolute;
  top: 0;
  left: calc(50vw - 50px);
  text-align: center;
  height: 100%;
  width: 100px;
  background-color: rgba(128, 128, 128, 0.115);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.button {
  padding: 1rem;
}
.diceA,
.diceB {
  width: 100px;
  height: 100px;
}
.dice1 {
  background: url(./components/img/dice-1.png);
  background-size: contain;
}
.dice2 {
  background: url(./components/img/dice-2.png);
  background-size: contain;
}
.dice3 {
  background: url(./components/img/dice-3.png);
  background-size: contain;
}
.dice4 {
  background: url(./components/img/dice-4.png);
  background-size: contain;
}
.dice5 {
  background: url(./components/img/dice-5.png);
  background-size: contain;
}
.dice6 {
  background: url(./components/img/dice-6.png);
  background-size: contain;
}
input {
  width: 100px;
}
